*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: #fff;
    
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/backgroundplaceholder.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 50px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 300px;
     
}
nav ul li{ 
    display: inline-block;
    list-style: none;
    margin: 10px 10px; /* this seperates each navigation button 10 pixels apart, and 10 from top and bottom*/
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px; /* this now does the respective of redesigning the navigation buttons*/
    position: relative;
}
nav ul li a::after{ /* adds the hover affect on the navigation buttons*/
    content: '';
    width: 0;
    height: 3px; 
    color: blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
     
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: black;
}
.header-text h1{
    font-size: 60px;
    margin-top: 5%;
    
}
.header-text p{
    margin-top: 2%;
}

.header-text h1 span{
    color: red;
}
/*----------------about-------------*/
#about{
    padding: 80px 0;
    color: #d0d8c9ab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 15%; /*------this means the with of the column-*/
}
.about-col-1 img{
    width: 175%;
    border-radius: 150px
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2.p{
    font-size: 30px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-titles p{
    font-size: 30px
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b45769;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block
}
#portfolio{
    width: 90%;
    height: 75vh;
    border: 2px solid goldenrod;
    margin: auto;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 80px;
    padding-bottom: 50px;
    background-color: cornflowerblue;
    
    
}
.portfolio-rows{
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
}

